html, body {
  padding: 0;
  margin: 0;
}

textarea {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 0;
  border: 0;
  resize: none;
  padding: 10px;
  height: auto;
  width: calc(50vw - 20px);
}
.left {
  left: 0;
}
.right {
  right: 0;
}